requests>=2.32.0
beautifulsoup4>=4.12.0
colorama>=0.4.6
lxml>=5.1.0
dns.resolver>=2.0.0
python-nmap>=0.7.1
cryptography>=42.0.0
urllib3>=2.0.0
selenium>=4.20.0
webdriver-manager>=4.0.0
paramiko>=3.4.0
scapy>=2.5.0
pycryptodome>=3.20.0
tqdm>=4.66.0